// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
body {
  background: {
    image: asset_url("travel2.jpg");
    size: cover;

  }

  h1 {
  color: white;
  font-family: Snell Roundhand, cursive;
  font-size: 90px;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  image: asset_url("travelogo.png");
  }


}
