// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;


.home{

  background-image: url(travel1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home h1 {
  color: white;
  font-weight: 900;
  font-family: Snell Roundhand, cursive;
  font-size: 90px;
  left: 0;
  margin-top: 100px;
  line-height: 200px;
  text-align: center;
  width: 100%;
  }

