// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{ 
opacity: 0.5; 
width:400px;
height: 400px; 
margin-left:auto; 
margin-right:auto; 
margin-top: 60px;
padding: 15px; 
background-color:#1a1a1a;
}